.fact {
    border: 2px dashed orange;
    margin: auto;
    width: 84vh;
    height: 13vh;
    padding-top: 10vh;
    margin-top: 5vh;
    border-radius: 5px;
    background-color: rgb(223, 219, 219);
}

.fact button {
    background-color: red;
    border-color: red;

    &:hover {
        background-color: rgb(236, 45, 45);
    }
}