.sidebar {
    border: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    width: 18vw;
    height: 100vh;
    border-top: none;
    z-index: 2;
    background-color: #2A3F54;
    color: white;
    border-color: 3e556d;
}

.menu-closed {
    border: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    width: 5vw;
    height: 100vh;
    border-top: none;
    z-index: 2;
    background-color: #2A3F54;
    color: white;
}


.menu-icon {
    font-size: 1.5rem;
    float: left;
    cursor: pointer;
}