.addrule {
    margin: 21vh auto;
    border: 1px solid white;
    height: 30vh;
    width: 54vw;
    box-shadow: 0px 1px 4px rgb(87, 83, 83);
    border-radius: 5px;
    color: rgb(118, 162, 201);

    button {
        background-color: rgb(11, 121, 84);
        border: 1px solid rgb(11, 121, 84);
        font-size: 1.2rem;
        &:hover {
            background-color: rgb(35, 189, 137);
            border: 1px solid rgb(35, 189, 137);
        }
    }

    label {
        color: rgb(44, 95, 119);
        position: relative;
        right:290px;
        margin-bottom: 10px;
    }

    input {
        width: 60%;
        height: 4vh;
        border-radius: 5px;
    }
}
 

