.list-sidebar-element {
    list-style: none;
    font-size: 20px;
    text-align: left;
    // padding: 2vh 0;
    margin: 2vh 0;
    padding: 2vh 0;
    cursor: pointer;
    position: relative;
    left: -3vh;
    &:hover {
        background-color: #374e65;
    }

    .list-sidebar-text {
        margin-left: 1vh;
    }
}

.list-sidebar {
    margin-top: 10vh;
    .list-sidebar-rule {
        list-style: none;
        cursor: pointer;
        left: -4vh;
        text-align: left;
        position: relative;
        border-left: 5px solid rgb(115, 196, 178);
        padding-left: 5px;
        padding: 1vh 1vh;
        &:hover {
            background-color: #475d75;
        }
    }
}

.menu-icon {
    top: 0;
    float: left
}