.list-sidebar-element {
    list-style: none;
    font-size: 20px;
    text-align: left;
    padding: 2vh 0;
    cursor: pointer;
    position: relative;
    left: -3vh;
    &:hover {
        background-color: #475d75;
    }

    .list-sidebar-text {
        margin-left: 1vh;
    }
}

.list-sidebar {
    margin-top: 10vh;
}

.menu-icon {
    top: 0;
    float: left
}