.search {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .search-field {
    
        .search-input {
            width: 30vh;
            height: 4vh;
            border-radius: 5px;
            box-shadow: none;
        }
    }

    .search-field button {
        margin-left: 0.1vh;
        background-color: rgb(70, 56, 124);
        width: 15vh;
        height: 5vh;
        color: white;
        margin-right: 3vh;
        &:hover {
            background-color: rgb(130, 114, 192);
        }
    }
}




