$color: rgb(88, 88, 228);
$stringColor: deepskyblue;
$arrayColor: deeppink;
$numberColor: rgb(158, 156, 18);
$objectColor: rgb(15, 121, 129);
$element-width: 25%;

@mixin pointers {
    width: 8%;
    color: $color;
    cursor: pointer;
    font-size: 0.8rem;
}

@mixin factType ($variable) {
    padding: 3px;
    border-radius: 5px;
    background-color: $variable;
}

.fact-element {
    border: 1px solid gray;
    width: 80%;
    margin: auto;
    margin-top: 5vh;
    height: 8vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 0px 2px 0px black;

    .fact-element-index {
        width: 1%;
        margin-left: 50px;
    }

    .fact-element-name {
        width: $element-width;
    }

    .fact-element-type {
        width: $element-width;
        color: white;
        text-transform: uppercase;
        font-size: 0.8rem;

        .string {
            @include factType($stringColor);
        }
        .array {
            @include factType($arrayColor);
        }
        .number {
            @include factType($numberColor)
        }
        .object {
            @include factType($objectColor)
        }
    }

    .fact-element-edit {
        @include pointers()
    }

    .fact-element-remove {
        @include pointers()
    }
}

.fact-element.array {
    border-left: 4px solid $arrayColor;
}

.fact-element.string {
    border-left: 4px solid $stringColor;
}

.fact-element.number {
    border-left: 4px solid $numberColor;
}

.fact-element.object {
    border-left: 4px solid $objectColor;
}

